# This file simply sources the configuration file pointed to at
# $XDG_CONFIG_HOME/zsh/init.zsh.

source {{ config_home }}/zsh/init.zsh

# DO NOT ADD ANYTHING TO THIS FILE. Change the init.zsh file instead.
